<html>


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/vue@2.3.4"></script>
    <script src="https://unpkg.com/vue-router@2.5.3/dist/vue-router.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://use.fontawesome.com/d63932d1c4.js"></script>
    <script src="navBar.js"></script>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

</head>

<body>
    <div id="app">
        <div id="navbar">
            <navbar></navbar>
        </div>
        <el-tabs v-model="activeName">
            <el-tab-pane label="My Friends" name="first">
                <myFriends v-bind:friend="friends"></myFriends>
            </el-tab-pane>
            <el-tab-pane label="Add Friends" name="second">
                <addFriends></addFriends>
            </el-tab-pane>
            <el-tab-pane label="Pending Requests" name="third">
                <div>
                    <Pending v-bind:pending="pending"></Pending>
                </div>
            </el-tab-pane>
        </el-tabs>
    </div>
</body>
<script type="text/x-template" id="myFriends">
    <div>
        <friend-card v-for="f in friend" :link="f.EMAIL" v-bind:username="f.friend" :src="f.PICTURE">
        </friend-card>
    </div>
</script>
<script type="text/x-template" id="friend-card">
    <div class="friend" style="margin-left:50px; margin-right:50px">
        <a href="">
            <img style="height:170px; width:160px" class="img-thumbnail" :src = "imageURL">
        </a>
        <a :href="friendURL">
            <p><b>{{username}}</b></p>
        </a>
        <p style="margin-top:-15">3 minutes ago</p>
    </div>
</script>
<script type="text/x-template" id="pending-card">
    <div class="user">
        <div class="card">
            <div class="row">
                <div class="col-sm-1" id="avatar">
                    <div id="container" style="width:100">
                        <img class="img-thumbnail" src="Assets/Images/41699326_p0.jpg">
                    </div>
                </div>
                <div class="col-sm-2">
                    <a href="somewhere">{{username}}</a>
                </div>
                <div class="col-sm-3" id="review-info">
                    <el-form ref="form" :model="form" label-width="120px">
                        <el-form-item>
                            <el-button type="success" @click="accept">Accept</el-button>
                            <el-button type="danger" @click="reject">Reject</el-button>
                        </el-form-item>
                    </el-form>
                </div>

            </div>
        </div>
    </div>
</script>
<script type="text/x-template" id="addFriends">
    <div>
        <el-input id="search" placeholder="find a friend" icon="search" v-model="user" :on-icon-click="search">
        </el-input>
        <el-dialog title="Add Friend" :visible.sync="dialogVisible" size="tiny">
            <span>Are you sure you want to add user {{user}}</span>
            <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">Cancel</el-button>
            <el-button type="primary" @click="submit">Confirm</el-button>
        </span>
        </el-dialog>

    </div>
</script>
<script type="text/x-template" id="Pending">
    <div>
        <pending-card v-for="p in pending" v-bind:username="p.friend">
        </pending-card>
    </div>
</script>
<script>
    Vue.component('myfriends', {
        props: ['friend'],
        template: '#myFriends'
    })
    Vue.component('friend-card', {
        props: ['username', 'src', "link"],
        data() {
            return {
                "imageURL": "Assets/profile/" + this.src,
                "friendURL": "user_profile.html#/?email=" + this.link
            }
        },
        template: '#friend-card'
    })
    Vue.component('addfriends', {
        template: '#addFriends',
        data() {
            return {
                user: "",
                dialogVisible: false
            }
        },
        methods: {
            search: function () {
                var self = this
                axios.get('http://127.0.0.1:8081/search_user?user=' + this.user)
                    .then(function (res) {
                        console.log(res.data);
                        if (res.data == true) {
                            self.dialogVisible = true;
                        }
                        else {
                            self.$message.error("user could not be found")
                        }
                    })
                    .catch(function (err) {
                        console.log("failed");
                    });
            },
            submit: function () {
                dialogVisible = false
                const friend = this.user;
                var currUser = sessionStorage.getItem("username");
                var submit = { "currUser": currUser, "friend": friend };
                const self = this;
                axios.post('http://127.0.0.1:8081/add_friend', submit)
                    .then(function (res) {
                        console.log(res);
                        self.$message({
                            message: 'Friend Request Sent',
                            type: 'success'
                        });
                    })
                    .catch(function (err) {
                        console.log("failed");
                    });
            }

        },
    })
    Vue.component('Pending', {
        props: ['pending'],
        template: '#Pending'
    })
    Vue.component('pending-card', {
        template: '#pending-card',
        props: ['username'],
        methods: {
            accept: function () {
                var currUser = sessionStorage.getItem("username");
                var submit = { "currUser": currUser, "friend": this.username };
                const self = this;
                axios.post('http://127.0.0.1:8081/accept_friend', submit)
                    .then(function (res) {
                        console.log("accepted");
                        window.location.reload()
                    })

            },
            decline: function () {
                var currUser = sessionStorage.getItem("username");
                var submit = { "currUser": currUser, "friend": this.username };
                const self = this;
                axios.post('http://127.0.0.1:8081/reject_friend', submit)
                    .then(function (res) {
                        console.log(object);
                        window.location.reload()
                    })
            }
        }
    })


    new Vue({
        el: '#app',
        data: function () {
            return { activeName: 'first', visible: false, pending: [], friends: [] }
        },
        created() {
            var self = this
            axios.get('http://localhost:8081/getFriends?user=' + sessionStorage.getItem("username"))
                .then(function (response) {
                    console.log("my friends are ", response.data);
                    for (i = 0; i < response.data.length; i++) {
                        if (response.data[i].status == "Pending") {
                            self.pending.push(response.data[i])
                        }
                        else {
                            self.friends.push(response.data[i])
                            console.log(self.friends);
                        }
                    }
                    console.log(self.friends);

                })
                .catch(function (err) {
                    console.log("error")
                })
        }

    })

</script>

<style>
    #search {
        width: 25%;
    }

    .friend p {
        margin-left: 5px;
        font-size: 12pt;
    }
</style>


</html>