<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://unpkg.com/vue@2.3.4"></script>
	<script src="https://unpkg.com/vue-router@2.5.3/dist/vue-router.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
	 crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
	 crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
	 crossorigin="anonymous"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://use.fontawesome.com/d63932d1c4.js"></script>
	<script src="navBar.js"></script>

</head>

<div id="app">
	<div id="navbar">
		<navbar></navbar>
	</div>
	<router-view></router-view>
</div>

<style>
	.Reviews {
		width: 89%;
		margin-top: 20px;
	}

	.Reviews .card {
		width: 100%;
		padding: 0;
	}

	#review-info {
		text-align: right;
	}

	.Reviews .card-block {
		padding: 0;
	}

	#avatar {
		margin-left: 10px;
		height: 100px;
	}

	#avatar img {
		margin-top: 7px;
		height: 90%;
		width: 100%
	}

	#pictureContainer {
		height: 300px;
	}

	.gameProfile .col {
		padding: 0;
		vertical-align: top;
		margin-right: 40px;
	}

	.gameProfile .col-3 {
		margin-left: 50px;
	}

	#gameCard {
		padding: 0;
	}

	#gameImage {
		width: 100%;
		height: 100%;
	}

	#review-info p {
		margin-bottom: 5px;
	}

	#rating_info {
		width: 100%;
	}

	#rating_info .col-1 {
		border: 1px solid #d9d9d9;
		text-align: center;
	}

	#rating_info .col-1 {
		margin-right: 15px;
	}

	#pop_info {
		margin-top: 20px;
	}

	#gameCard .list-group-items {
		margin-bottom: 15px
	}

	#sim_games {
		margin-top: 15px;
		width: 100%;
		margin-left: 10px;
	}

	#information ul {
		padding-left: 0;
	}

	#exampleTextarea {
		width: 50%;
	}

	#write_review {
		margin-left: 20%;
		font-size: 16pt;
	}

	ul {
		list-style-type: none;
	}
</style>

<script type="text/x-template" id="info">
	<div style="margin-top:20px">
		<div class="gameProfile">
			<div class="row">
				<div class="col col-3" id="pictureContainer">
					<div class="row">
						<img v-bind:src="picture" class="img-thumbnail" id="gameImage">
					</div>
					<div class="row">
						<div class="card" id="sim_games">
							<div class="card-header">
								Similar Games
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-items" id="info">
									<a href="#">game1_title</a></a>
								</li>
								<li class="list-group-items" id="info">
									<a href="#">game2_title</a></a>
								</li>
								<li class="list-group-items" id="info">
									<a href="#">game3_title</a></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div id="gameCard" class="card col col-7">
					<div id="header" class="card-header" style="border-color:black">
						<div class="row gameTitle">
							<h2 class="display-6">{{ title }}</h2>
							<div v-show="signedIn" class="likeButton" style="position: absolute; right: 0;">
								<button @click="unlike" v-show="liked" class="btn btn-outline-warning">
									<i class="fa fa-star" aria-hidden="true"></i>
								</button>
								<button @click="like" v-show="!liked" class="btn btn-outline-warning">
									<i class="fa fa-star-o" aria-hidden="true"></i>
								</button>
							</div>
						</div>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-items" id="info">
							<div class="row" id="rating_info">
								<div class="col-2 border-left-0 border-top-0 border-bottom-0">
									<tr>
										<h1>{{rating}}</h1>
									</tr>
									<tr>
										<p style="font-size:7pt"><i>1000 users</i></p>
									</tr>
								</div>
								<div class="col-7">
									<div class="row" id="pop_info">
										<div class="col">
											<p style="font-size:20pt" class="display-4">Ranked: <b>#1000</b> </p>
										</div>
										<div class="col">
											<p style="font-size:20pt" class="display-4">Popularity: <b>#1000</b> </p>
										</div>
									</div>
								</div>
							</div>
						</li>
						<h4 style="margin-left:5px">Synopsis
							<hr>
						</h4>
						<li class="list-group-items">
							<p class="card-text">{{ description }}
								<hr>
							</p>
						</li>
						<h4 style="margin-left:5px">Information
							<hr>
						</h4>
						<li class="list-group-items" id="information">
							<ul>
								<li><b>Genres:</b>{{ genre }}</li>
								<li><b>Developer:</b>{{ developer }}</li>
								<li><b>Publisher:</b>{{ publisher }}</li>
								<li><b>Release Date:</b>{{ release }}</li>
								<li><b>Price:</b>${{ price }}</li>
								<li><b>Game Site Link:</b><a href="somewhere"> a link</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<h1 style="font-size:30pt; text-align:center; margin-top: 20px;" class="display-4">Reviews</h1>
		<addReview></addReview>
		<reviewList style="width:100%"></reviewList>
	</div>
</script>

<script type="text/x-template" id="profile">
	<div v-if="!loading">
		<child v-for="item in items" v-bind:gameid="item.GameID" v-bind:title="item.Title" v-bind:publisher="item.Publisher" v-bind:developer="item.Developer"
		 v-bind:genre="item.Genre" v-bind:price="item.Price" v-bind:release="item.RELEASE_DATE" v-bind:description="item.DESCRIPTION"
		 v-bind:picture="item.PICTURE" v-bind:rating="item.rating"> </child>
	</div>
</script>
<script type="text/x-template" id="addReview">
	<div class="container">
		<button v-show="signedIn" class="btn btn-outline-primary float-right" type="button" data-toggle="collapse" data-target="#collapseExample"
		 aria-expanded="false" aria-controls="collapseExample" style="margin-bottom:50px">
    		Write a Review
		</button>
		<div class="collapse" id="collapseExample">
			<div class="form-group" id='write_review'>
				<p><b>rating</b></p>
				<input v-model="user_rating" style="height:50px;font-size:15pt;text-align:center" type="number" min="1" max="10"></input>
				<p style="margin-top:30px" for="exampleTextarea"><b>write your review </b></p>
				<textarea v-model="text" class="form-control" id="exampleTextarea" rows="6"></textarea>
				<button class="btn btn-primary" id="reviewButton" v-on:click="addReview"> submit </button>
			</div>
		</div>
	</div>
</script>
<script type="text/x-template" id="review">
	<div class="Reviews">
		<div class="card">
			<div class="card-block">
				<div class="row">
					<div class="col-sm-1" id="avatar">
						<div id="container" style="width:100px">
							<img class="img-thumbnail" v-bind:src="pictureURL">
						</div>
					</div>
					<div class="col-sm-1">
						<a href="somewhere">{{username}}</a>
					</div>
					<div class="col-sm-3 offset-md-6" id="review-info">
						<p> {{date}} </p>
						<p><i style="font-size:12pt;color:#d9d9d9">25 hours played</i></p>
						<p> Rating: {{rating}} </p>
					</div>
				</div>
				<hr>
				<div class="card-block">
					<p style="margin-left: 10px">
						{{text}}
					</p>
				</div>
			</div>
		</div>
	</div>
</script>

<script type="text/x-template" id="reviewList">
	<div class="container">
		<review v-for="review in reviews" v-bind:avatar="review.PICTURE" v-bind:username="review.userID" v-bind:date="review.time_stamp"
		 v-bind:rating="review.rating" v-bind:text="review.review_text"></review>
	</div>
</script>

<script>
	var addReview = Vue.component('addReview', {
		template: '#addReview',
		data() {
			return {
				user_rating: 0.0,
				text: "",
				gameid: this.$route.query.gameid,
				signedIn: false
			}
		},
		created() {
			this.signedIn = sessionStorage.getItem("signedIn") == "true"
		},
		methods: {
			addReview: function () {
				var d = new Date,
					dformat = [d.getMonth() + 1,
					d.getDate(),
					d.getFullYear()].join('/') + ' ' +
						[d.getHours(),
						d.getMinutes(),
						d.getSeconds()].join(':');
				var submit = {
					"rating": this.user_rating,
					"date": dformat,
					"text": this.text,
					"user": sessionStorage.getItem("username"),
					"game": this.gameid
				}
				console.log(submit);
				axios.post('http://127.0.0.1:8081/addReview', submit)
					.then(function (res) {
						console.log("sucessfully posted");
						window.location.reload();
					})
					.catch(function (err) {
						console.log("failed");
					});
			},
		}
	});
	var review = Vue.component('review', {
		props: ['username', 'date', 'rating', 'text', 'avatar'],
		template: '#review',
		data() {
			return {
				pictureURL: "Assets/profile/" + this.avatar
			}
		}
	});
	var reviewList = Vue.component('reviewList', {
		template: '#reviewList',
		data() {
			return {
				gameID: this.$route.query.gameid,
				reviews: []
			}
		},
		created() {
			var self = this
			axios.get('http://localhost:8081/listReviews?gameid=' + this.$route.query.gameid)
				.then(function (response) {
					console.log(response);
					self.reviews = response.data;
				})
				.catch(function (err) {
					console.log("error")
				})
		}
	});
	var child = Vue.component('child', {
		props: ['gameid', 'title', 'publisher', 'rating', 'developer', 'genre', 'price', 'release', 'description', 'picture'],
		template: '#info',
		data() {
			return {
				path: this.$route.path,
				liked: false,
				signedIn: false
			}
		},
		created: function () {
			console.log(this.$route.path);
			this.signedIn = sessionStorage.getItem("signedIn") == "true";
			var self = this;
			if (this.signedIn) {
				console.log("SIGNEDIN");
				axios.get('http://localhost:8081/userLike?email=' + sessionStorage.getItem("username")
					+ '&title=' + this.$route.query.gameid)
					.then(function (response) {
						console.log("RESPONSE RECIEVED");
						console.log("DATA", typeof response.data);
						self.liked = response.data;
					})
					.catch(function (err) {
						console.log("error")
					})
			}
		},
		methods: {
			like() {
				console.log("like");
				this.liked = true;
				var d = new Date,
					dformat = [d.getMonth() + 1,
					d.getDate(),
					d.getFullYear()].join('/') + ' ' +
						[d.getHours(),
						d.getMinutes(),
						d.getSeconds()].join(':');
				var submit = {
					"user": sessionStorage.getItem("username"),
					"game": this.$route.query.gameid,
					"date": dformat
				}
				axios.post('http://127.0.0.1:8081/like', submit)
					.then(function (res) {
						console.log("sucessfully posted");
					})
					.catch(function (err) {
						console.log("failed");
					});
			},
			unlike() {
				console.log("dislike");
				this.liked = false;
				axios.delete('http://localhost:8081/dislike?email=' + sessionStorage.getItem("username")
					+ '&title=' + this.$route.query.gameid)
					.then(function (response) {
						console.log("DISLIKE APPROVED");
					})
					.catch(function (err) {
						console.log("error")
					})
			}
		}
	});
	var results = Vue.component('results', {
		data: function () {
			return {
				items: [],
				loading: false,
				gameid: this.$route.query.gameid
			}
		},
		template: "#profile",
		created() {
			console.log(this.loading);
			var self = this
			axios.get('http://localhost:8081/gameinfo?gameid=' + this.$route.query.gameid)
				.then(function (response) {
					console.log(self.items);
					self.loading = false;
					self.items = response.data
				})
				.catch(function (err) {
					console.log("error")
				})
			console.log(this.loading);
		}
	});
	const router = new VueRouter({
		routes: [
			{ path: '/', component: results },
			{ path: '/', component: addReview },
			{ path: '/', component: reviewList }
		]
	})
	const app = new Vue({ router }).$mount('#app')

</script>

<!--<script> for future use in case i need to add jquery
	$(document).ready(function () {
		$("#reviewButton").click(function () {
			alert("Handler for .click() called.");
		});
	});
</script>
-->

</html>