<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="theme-color" content="#000000">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
	 crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
	 crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
	 crossorigin="anonymous"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.0/vue.js"></script>
	<script src="https://use.fontawesome.com/d63932d1c4.js"></script>
	<script src="navBar.js"></script>
	<script
			  src="https://code.jquery.com/jquery-3.2.1.js"
			  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			  crossorigin="anonymous"></script>
</head>



<!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->
<title>GameBook</title>
<style>
	.carousel {
		width: 100%;
		height: 500px;
	}

	.carousel-item {
		height: 500px;
	}

	.listHeader {
		text-align: center;
		background=gray;
	}

	.row {
		margin-bottom: 10px;
		margin-t: ;
		op: 10px;
	}

	.no-padding {
		padding: 0px;
	}

	#news {
		margin-bottom: 30px;
	}

	.whiteWithBlackBorders {
		font-size: 30px;
		font-weight: bold;
		color: white;
		text-shadow: -1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
	}

	.card-header {
		background-color: #E6E6E6
	}

	.list-group-item {
		background-color: #F2F2F2
	}
</style>
</head>

<body style="background-color:#CCCCCC">
	<noscript>
		You need to enable JavaScript to run this app.
	</noscript>
	<div id="navbar">
		<navbar></navbar>
	</div>
	<!-- Left and right controls -->
	<div class="container">
		<div class="row" id="news">
			<div class="col-md-12">
				<div class="card-header" style="width:100%">
					<h3 class="display-4" style="text-align: center">Latest News:</h3>
				</div>
				<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					</ol>
					<div id="articles" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)" class="carousel-inner" role="listbox">
						<div class="carousel-item active">
							<a :href="articles[0].url">
							<img class="img-responsive" v-bind:src="articles[0].urlToImage" alt="Article 1" >
							<div class="carousel-caption d-none d-md-block">
								<h2 class="whiteWithBlackBorders">{{articles[0].title}}</h3>
							</div>
							</a>
						</div>
						<div class="carousel-item">
							<a :href="articles[1].url">
							<img v-bind:src="articles[1].urlToImage" alt="Article 2">
							<div class="carousel-caption d-none d-md-block">
								<h2 class="whiteWithBlackBorders">{{articles[1].title}}</h3>
							</div>
							</a>
						</div>
						<div class="carousel-item">
							<a :href="articles[2].url">
							<img v-bind:src="articles[2].urlToImage" alt="Article 3">
							<div class="carousel-caption d-none d-md-block">
								<h2 class="whiteWithBlackBorders">{{articles[2].title}}</h3>
							</div>
							</a>
						</div>
					</div>
					<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
					<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="card">
					<div class="card-header ">
						<a href="https://utsccscc01.github.io/final-project-team-8/app/web_pages/top_rated_games.html#/?sortby=Recent Reviewed"><h4 class="listHeader">LATEST REVIEWED</h4></a>
					</div>
					<div class="card-block no-padding">
						<ul id="latestReviews" class="list-group">
						<div v-for="item in latestGames"><a :href="item.href" class="list-group-item list-group-item-action">{{item.Title}}</a></div>
						<!--
							<a href="#" class="list-group-item list-group-item-action">Tic Tac Toe</a>
							<a href="#" class="list-group-item list-group-item-action">Chess</a>
							<a href="#" class="list-group-item list-group-item-action">Go</a>-->
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div class="card-header">
						<a href="https://utsccscc01.github.io/final-project-team-8/app/web_pages/top_rated_games.html#/?sortby=Likes"><h4 class="listHeader"> POPULAR GAMES</h4></a>
					</div>
					<div class="card-block no-padding">
						<ul id="topRatedGamesList" v-if="!loading" class="list-group">
							<div v-for="item in topRatedGames"><a :href="item.href" class="list-group-item list-group-item-action">{{item.Title}}</a></div>
						</ul>
						
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div class="card-header">
						<a href="https://utsccscc01.github.io/final-project-team-8/app/web_pages/top_rated_games.html#/?sortby=Recent Release"><h4 class="listHeader"> NEW RELEASES</h4></a>
					</div>
					<div class="card-block no-padding">
						<ul id="latestGames" v-if="!loading" class="list-group">
							<div v-for="item in latestGames"><a :href="item.href" class="list-group-item list-group-item-action">{{item.Title}}</a></div>
							<!--<a href="#" class="list-group-item list-group-item-action">You won't believe what happens next...</a>
							<a href="#" class="list-group-item list-group-item-action">10 Simple Tricks to increase...</a>
							<a href="#" class="list-group-item list-group-item-action">I have a midterm today</a>-->
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>

	<script src="navBar.js"></script>
	<script src="main_page.js"></script>
</body>

</html>