<html>

<head>
    <script src="https://unpkg.com/vue@2.3.4"></script>
    <script src="https://unpkg.com/vue-router@2.5.3/dist/vue-router.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://use.fontawesome.com/d63932d1c4.js"></script>
    <script src="navBar.js"></script>
</head>
<div id="app">
    <div id="navbar">
        <navbar></navbar>
    </div>
    <router-view></router-view>
</div>
<style>
    #main {
        height: 200px;
        margin-bottom: 10%;
    }

    #main .col-2 {
        height: 100%;
    }

    #main .col-2 img {
        margin-top: 5px;
        height: 180px;
        width: 180px;
    }

    #main .col-9 {
        text-align: left;
    }

    #main .col-9 .card-block {
        width: 100%;
        height: 100%;
    }

    #info p {
        margin-top: 10px;
        font-size: 20pt
    }

    #info a {
        margin-top: 10px;
        font-size: 30pt
    }
</style>
<script type="text/x-template" id="card-template">
    <div>
        <div id='main' class="card card-outline-secondary mb-3 text-center">
            <div class="row">
				
                <div class="col-2">
                    <img height="200" width="200" :src="image" class="img-thumbnail" onerror="this.src='Assets/Images/zelda.jpg'" alt="Responsive image">
                </div>
				<div class="col-1">
						<h1 style="font-size:60; position:relative; top: 50%; transform: translateY(-50%); text-align:left;" >{{rank}}.</h1>
				</div>
                <div class="col-7">
				
                    <div class="card-block">
                        <blockquote id="info" class="card-blockquote">
                            <a :href="'https://utsccscc01.github.io/final-project-team-8/app/web_pages/game_profile.html#/?gameid=' + gameid" style="font-size:30pt"
                                class="display-4">{{title}}</a>
                            <p class="lead">{{description}}</p>
                            <p class="lead">Date Released: {{date}}</p>
                        </blockquote>
                    </div>
                </div>
				 <div class="col-2">
				
                    <div class="card-block">
                        <blockquote id="info" class="card-blockquote">
                            <div style="font-size:30pt"
                                class="display-4">{{ratingthing}}</div>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/x-template" id="site-template">
    <div class='listings' v-if="!loading">
        <div class="card">
            
			
			<div class="card-header">
			<div class="form-group" style="margin-bottom:0px">
			<label><h3>Most Popular Games</h3></label>
			<div class="pull-right">
			<label for="sortBy" class="col-form-label" style="padding-right:10px;">Sorted By:</label>
			<select class="form-control pull-right" id="sortByDD" style="width:280px" v-model="sortBy" v-on:change=changeSortBy()>
				<option>Rating</option>
				<option>Likes</option>
			</select>
			</div>
			</div>
			</div>
			
            <child v-for="item in items" v-bind:image="item.PICTURE" v-bind:title="item.Title" v-bind:date="item.RELEASE_DATE" v-bind:description="item.DESCRIPTION" v-bind:rank="item.rank" v-bind:ratingthing="item.ratingthing"
                v-bind:gameid="item.GameID"></child>
        </div>
    </div>

</script>
<script>
    var child = Vue.component('child', {
        props: ['title', 'description', 'date', 'image', 'gameid', 'rank', 'ratingthing'],
        template: '#card-template',
        data() {
            return {
                path: this.$route.path
            }
        },
        mounted: function () {
            console.log(this.$route.path);
        }
    });
	var likesUrl = 'http://localhost:8081/games/top/likes?limit=100';
	var ratingUrl = 'http://localhost:8081/games/top/rating?limit=100';
    var results = Vue.component('results', {
        data: function () {
            return {
                items: [],
                loading: false,
                title: this.$route.query.title,
				sortBy: "Rating",
				ratingItems:[],
				likesItems:[],
            }
        },
        template: "#site-template",
        created() {
            console.log(this.loading);
            var self = this
            /*axios.get(likesUrl)
                .then(function (response) {
					console.log("hello1")
                    console.log(self.items);
                    self.loading = false;
                    self.items = response.data
					console.log(self.items);
					console.log("hello2")
					for(var i = 0; i < self.items.length; i++){
						console.log(self.items[i]);
						self.items[i].rank = i+1;
						self.items[i].ratingthing = self.items[i].x;
					}
                })
                .catch(function (err) {
                    console.log("error")
                })*/
			axios.get(likesUrl)
                .then(function (response) {
					console.log("hello1")
                    console.log(self.items);
                    self.likesItems = response.data
					console.log(self.likesItems);
					console.log("hello2")
					for(var i = 0; i < self.likesItems.length; i++){
						console.log(self.likesItems[i]);
						self.likesItems[i].rank = i+1;
						self.likesItems[i].ratingthing = self.likesItems[i].x;
					}
					
					
                })
                .catch(function (err) {
                    console.log("error")
                })
			axios.get(ratingUrl)
                .then(function (response) {
					console.log("hello1")
                    console.log(self.items);
                    self.ratingItems = response.data
					console.log(self.ratingItems);
					console.log("hello2")
					for(var i = 0; i < self.ratingItems.length; i++){
						console.log(self.ratingItems[i]);
						self.ratingItems[i].rank = i+1;
						self.ratingItems[i].ratingthing = self.ratingItems[i]["round(avg(rating),1)"];
					}
					self.loading = false;
					self.items = self.ratingItems;
                })
                .catch(function (err) {
                    console.log("error")
                })
            console.log(this.loading);
        },
		methods: {
			changeSortBy: function () {
				var self = this
				console.log(self.sortBy);
				console.log(self.ratingItems);
				console.log(self.likesItems);
				console.log(self.items);
				
				if(self.sortBy == "Rating"){
					console.log("sorting by rating");
					self.items = self.ratingItems;
				}
				else if(self.sortBy == "Likes"){
				console.log("sorting by likes");
					self.items = self.likesItems;
				}
			}


		}
    });
    const router = new VueRouter({
        routes: [
            { path: '/', component: results }
        ]
    })
    const app = new Vue({ router }).$mount('#app')

</script>

</html>